.form-container {
    background: rgba(19, 19, 19, 0.7);
    width: 40%;
    margin: 50px 0;
    padding: 40px;
    border: white 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

@media(max-width: 768px) {
    .form-container {
        width: 70%;
    }
}

@media(max-width: 425px) {
    .form-container {
        width: 90%;
        padding: 20px;
    }
}

